@font-face {
    font-family: 'GothamMedium';
    src:url('../fonts/GothamMedium.otf');
    font-weight: normal;
    font-style: normal;
}


body {
    font-size: 14px;
    margin: 0 1em;
    font-family: 'GothamMedium';
}


#art {
    display: block;
    margin: auto;
}


.wrapper {position: relative;}


.control-wrapper {
    width: 3em;
    height: 3em;
    cursor: pointer;
    display: inline-block;
}


.paused, .playing { z-index: 100; }

.paused {
    background-image: url('../svg/play.svg');
    background-size: cover;
}


.playing {
    background-image: url('../svg/pause.svg');
    background-size: cover;
}


.close-wrapper {
    width: 2em;
    height: 2em;
    background-image: url('../svg/close.svg');
    background-size: cover;
    position: absolute;
    right:0;
    display: inline-block;
    margin: 0.5em;
    cursor: pointer;
}


.refresh-wrapper {
    width: 2em;
    height: 2em;
    background-image: url('../svg/refresh.svg');
    background-size: cover;
    display: inline-block;
    margin: 0.5em 0.3em;
    cursor: pointer;
    opacity: 0.8;
}


.hidden { display: none; }


.config-wrapper {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0.5em;
}


.config-item {
    width: 8em;
    margin: 0 0.5em;
    text-align: center;
    display: inline-block;
}


.config-item input {
    display: block;
    margin: auto;
    margin-top: 0.2em;
}
